.passe-partout {
    float: left;
    padding: 8px;
    background: rgb(213, 204, 176);
    border: 2px solid rgb(49, 49, 49); 
    width: 15%;
    margin: 0 0 0 1%;
   }
   h1 {
    font-size: 2em;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif ;
    font-weight: 150;
    font-stretch: normal;
    color:rgb(213, 204, 176);
  }
  h2 {
    font-size: 1.5rem;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif ;
    font-weight: 150;
    font-stretch: normal;
    color:rgb(213, 204, 176);
  }
  h4{
      font-size: 1rem;
    font-weight: 150;
    font-stretch: normal;
    color:rgb(213, 204, 176);
  }
  .ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding-left: 50;
  }
  .a {text-decoration: none; }

 